body {
background-color: teal;
}

p{
  text:                             
  color:
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  .p1{color: black;
  font-family: Arial Black;
  font-size: 100%;}

  .p2{color: black;
  font-family: Times New roman;
  font-size: 120%;}
